@media screen and (min-width:320px) and (max-width:767px) {
    .customer__pic{
        margin-left:98px;
        margin-right:117px;
        margin-top:80px;
    }

    .opinion__card{
        width: 280px;
        height: 308px;
        background-color: #FAFAFA;
        padding:43px 66px 26px 57px;
        margin-top:29px;
        margin-bottom:30px;
        margin-left:0;
        margin-right:0; 
    }

    .opinion{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 255%;
        text-align: center;
        color: #000000;
        border-bottom:1px solid #E1E1E1;
    }

    .ellipse{
        list-style: none;
        display:flex;
        justify-content: center;
        padding:0;
    }

    .ellipse__item{
        &:not(:last-child){
            margin-right: 10px;
        }
    }
    

    .author{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        text-align: center;
        color: #000000;
    }

    .slider{
        list-style: none;
        display:flex;
        justify-content: center;
        padding:0;
    }

    .slider__item{
        margin-bottom:70px;
        &:not(:last-child){
            margin-right: 18px;
        }
    }
}